@charset "UTF-8";

/* 回答はここに書いてね */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  
}

table td {
  border: solid #dedede 1px;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
}

table th, table td:first-child {
  border: solid #dedede 1px;
  background-color: #2244aa;
  color: #ffffff;
  padding: 10px 0;
  font-size: 18px;
  line-height: 26px ;
}

table td:nth-child(2n) {
  background-color: #ecf1f2;
}

table tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
