@charset "UTF-8";

/* 回答はここに書いてね */
.q3__content {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.q3__content td {
  border: solid #dedede 1px;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
}

.q3__content th {
  border: solid #dedede 1px;
  background-color: #2244aa;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  line-height: 26px ;
}

.q3__content tr:nth-child(odd) {
  background-color: #ecf1f2;
}

.q3__content tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
